<div class="row">
  <nb-card>
    <nb-card-body>Hello from ngx-admin sandbox project.</nb-card-body>
    <button class="btn btn-hero-info" (click)="testing()">Click to show</button>
  </nb-card>
</div>

<div class="row">
  <nb-card>
    <nb-card-header>Testing array</nb-card-header>
    <nb-card-body>
      <input type="text" (keyup)="testing2()" [(ngModel)]="valor">
      <button class="btn btn-hero-info" *ngIf="mostrar" (click)="testing3()">Click to test2</button>

      <div>
        <i class="icon-truck2">icon</i>
        <span class="icon-truck2"></span>
        <i class="la la-truck"></i>
        <i class="fa fa-truck"></i>
      </div>

    </nb-card-body>
  </nb-card>
</div>
